asn1crypto==0.24.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
configparser==3.5.0b2
cryptography==2.6.1
dbus-python==1.2.12
entrypoints==0.3
enum34==1.1.6
gunicorn==19.10.0
idna==2.9
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.1
keyring==18.0.1
keyrings.alt==3.1.1
MarkupSafe==1.1.1
pycrypto==2.6.1
PyGObject==3.34.0
pyxdg==0.25
requests==2.23.0
requests-toolbelt==0.9.1
SecretStorage==2.3.1
six==1.12.0
urllib3==1.25.8
Werkzeug==1.0.0
